<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Проект №{{ .Id }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

<h1>{{ .Title }}</h1>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createFolderModal">
  Создать папку
</button>

<div class="modal fade" id="createFolderModal" tabindex="-1" role="dialog" aria-labelledby="createFolderModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createFolderModalLabel">Создание папки</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/api/projects/list/{{ .Id }}/create-folder" method="post">
          <input type="hidden" name="project_id" value="{{ .Id }}">
          <div class="form-group">
            <label for="folderName">Название папки</label>
            <input type="text" class="form-control" id="folderName" name="folder_name" required>
          </div>
          <button type="submit" class="btn btn-primary">Создать</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <h2>Список папок</h2>
  <ul class="list-group" id="foldersList">
    {{ range .Folders }}
      <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <span class="folderName">{{ . }}</span>
          <button type="button" class="btn btn-success btn-sm" onclick="uploadFile('{{ . }}')">+</button>
          
        </div>
        <div class="fileList" id="{{ . }}"></div>
      </li>
    {{ end }}
  </ul>
</div>

<div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadFileModalLabel">Загрузка файла</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <form id="uploadForm" enctype="multipart/form-data" action="/api/projects/list/{{ .Id }}/upload" method="post">
          <input type="file" name="file" id="fileInput" required>
          <input type="hidden" id="uploadFolder" name="folder">
          <button type="submit" class="btn btn-primary mt-2">Загрузить</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function() {
    // Функция для загрузки файлов для указанной папки
    function loadFiles(folderName) {
      $.get("/api/projects/list/{{ .Id }}/files?folder=" + folderName, function(data) {
        var fileList = $("#" + folderName);
        fileList.empty();
        $.each(data, function(index, file) {
          fileList.append("<p>" + file + "</p>");
        });
      });
    }

    // При загрузке страницы загружаем файлы для всех папок
    $.each($(".folderName"), function(index, folder) {
      loadFiles($(folder).text());
    });

    // Обработка отправки файла на сервер
    $("#uploadForm").submit(function(event) {
      event.preventDefault();
      var formData = new FormData(this);
      $.ajax({
        url: $(this).attr("action"),
        type: "POST",
        data: formData,
        success: function(response) {
          // После успешной загрузки файла перезагружаем файлы для соответствующей папки
          var folderName = $("#uploadFolder").val();
          loadFiles(folderName);
        },
        error: function(xhr, status, error) {
          console.error(xhr.responseText);
        },
        cache: false,
        contentType: false,
        processData: false
      });
    });
  });

  function uploadFile(folderName) {
    $('#uploadFileModal').modal('show');
    $('#uploadFolder').val(folderName);
  }
</script>

</body>
</html>