/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7;
}



.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    padding: 20px 40px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.logo img {
    width: 100px;
    height: auto;
}

.title {
    font-size: 24px;
    margin: 0;
}

.main {
    padding: 40px 0;
}

.form-container {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-button {
    width: 100%;
    padding: 10px;
    background-color: #009933;
    color: #fff;
    border: 1px solid #009933;
    border-radius: 5px;
    cursor: pointer;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link a {
    text-decoration: none;
    color: #000000;
}
