<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CadKeeper</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.3/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
        .form-input {
            transition: border-color 0.2s ease-in-out;
        }
        .form-input:focus {
            border-color: #60a5fa;
            outline: none;
        }
        .link-text {
            color: #60a5fa;
        }
        .link-text:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body class="bg-gray-200 min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md px-8 py-6 bg-white rounded-lg">
        <h1 class="text-3xl font-bold text-center mb-6">CadKeeper</h1>
        <h2 class="text-xl text-center mb-6">Регистрация</h2>
        <form method="post" action="sign-up">
            <div class="mb-4">
                <label for="username" class="">Логин</label>
                <input type="text" id="username" name="username" placeholder="Введите логин" 
                       class="w-full p-3 rounded-lg bg-gray-50 border border-gray-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
            </div>
            <div class="mb-4">
                <label for="name" class="">Имя</label>
                <input type="text" id="name" name="name" placeholder="Введите имя" 
                       class="w-full p-3 rounded-lg bg-gray-50 border border-gray-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
            </div>
            <div class="mb-6">
                <label for="password" class="">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Введите пароль" 
                       class="w-full p-3 rounded-lg bg-gray-50 border border-gray-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
            </div>
            <button type="submit" class="w-full py-3 px-4 rounded-lg bg-blue-500 text-white font-medium hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50">Вход</button>
            <p class="mt-4 text-center">
                <span>У вас уже есть аккаунт? </span>
                <a href="/auth/sign-in" class="link-text">Войти</a>
            </p>
        </form>
        <p class="text-center text-sm text-gray-500 mt-8">О проекте</p>
    </div>
</body>
</html>
